@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .wrapper {
    width: 92.5vw;
    max-width: 1024px;
    margin: auto;
  }

  .btn {
    @apply text-sm md:text-base flex gap-1 md:gap-2 items-center transition-all duration-200 px-4 py-2 text-white rounded-md justify-center md:justify-start;
  }

  .btn[disabled] {
    @apply bg-none bg-neutral-500 text-neutral-300 pointer-events-none;
  }

  .btn.loading {
    @apply bg-none gradient-shimmer animate-shimmer pointer-events-none;
  }

  .btn-primary {
    @apply gradient-primary hover:shadow-lg hover:shadow-secondary-500/25 active:translate-y-0.5;
  }

  .btn-secondary {
    @apply hover:bg-neutral-700 active:bg-neutral-500;
  }

  .btn-secondary.btn-active {
    @apply bg-gradient-to-tr from-secondary-500 to-secondary-600 hover:cursor-default;
  }

  .btn-accent {
    @apply text-primary-400 hover:outline-primary-400 hover:outline hover:outline-2;
  }

  .btn-accent:active,
  .btn-accent.btn-active {
    @apply bg-gradient-to-tr from-primary-500 to-primary-600 hover:cursor-default;
  }
}

@layer utilities {
  .gradient-primary {
    @apply bg-gradient-to-r from-secondary-500 to-primary-600;
  }

  .text-gradient-primary {
    @apply bg-gradient-to-r from-secondary-400 to-primary-500 bg-clip-text;
    color: transparent;
  }

  .gradient-shimmer {
    @apply bg-secondary-300/90 bg-gradient-to-r from-trasparent via-secondary-400/90 via-20% to-trasparent to-40% bg-no-repeat;
    background-size: 800px 100%;
  }
}
